@model Monivault.Web.Models.Users.EditUserModalViewModel

<ul class="nav nav-tabs  m-tabs-line m-tabs-line--success" role="tablist">
    <li class="nav-item m-tabs__item">
        <a class="nav-link m-tabs__link active" data-toggle="tab" href="#UserDetailTab" role="tab"><i class="la la-cloud-upload"></i>Role Information</a>
    </li>
    <li class="nav-item m-tabs__item">
        <a class="nav-link m-tabs__link" data-toggle="tab" href="#UserRoleTab" role="tab"><i class="la la-puzzle-piece"></i>Permissions</a>
    </li>
</ul>
<form id="UserForm" asp-conttoller="Users" asp-action="UpdateUser">
    <div class="tab-content">
        <div class="tab-pane active" id="UserDetailTab" role="tabpanel">
            <input type="hidden" name="Id" value="@Model.User.Id" />
            <div class="form-group m-form__group row">
                <label for="UserName" class="col-4 col-form-label">@L("UserName")</label>
                <div class="col-8">
                    <input id="UserName" name="UserName" value="@Model.User.UserName" maxlength="32" class="form-control m-input"/>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="FirstName" class="col-4 col-form-label">@L("FirstName")</label>
                <div class="col-8">
                    <input id="FirstName" name="FirstName" value="@Model.User.Name" maxlength="32" class="form-control m-input"/>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="LastName" class="col-4 col-form-label">@L("LastName")</label>
                <div class="col-8">
                    <input id="LastName" name="LastName" value="@Model.User.Surname" class="form-control m-input"/>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="EmailAddress" class="col-4 col-form-label">@L("EmailAddress")</label>
                <div class="col-8">
                    <input id="EmailAddress" name="EmailAddress" value="@Model.User.RealEmailAddress" class="form-control m-input"/>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="PhoneNumber" class="col-4 col-form-label">@L("PhoneNumber")</label>
                <div class="col-8">
                    <input id="PhoneNumber" name="PhoneNumber" value="@Model.User.PhoneNumber" class="form-control m-input"/>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="Active" class="col-4 col-form-label">@L("Enable")</label>
                <div class="col-8">
                    <input type="checkbox" id="Enabled" name="Enabled" checked="@Model.User.IsActive" class="filled-in" />
                </div>
            </div>
        </div>
        <div class="tab-pane" id="UserRoleTab" role="tabpanel">
            @for (var cnt = 0; cnt < Model.Roles.Count; cnt++)
            {
                var role = Model.Roles[cnt];
                <div class="row">
                    <div class="col-sm-6">
                        <input type="checkbox" name="role" value="@role.NormalizedName" title="@role.Description" class="filled-in" id="@string.Format("role{0}",role.Id)" @(Model.UserIsInRole(role) ? "checked" : "") />
                        <label for="@string.Format("role{0}",role.Id)" title="@role.DisplayName">@role.DisplayName</label>
                    </div>
                    
                    @if ((Model.Roles.Count - cnt) != 1 )
                    {
                        role = Model.Roles[++cnt];

                        <div class="col-sm-6">
                            <input type="checkbox" name="role" value="@role.NormalizedName" title="@role.Description" class="filled-in" id="@string.Format("role{0}",role.Id)" @(Model.UserIsInRole(role) ? "checked" : "") />
                            <label for="@string.Format("role{0}",role.Id)" title="@role.DisplayName">@role.DisplayName</label>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</form>
