@model Monivault.Web.Models.AccountHolderManagement.ProfileViewModel
@using Monivault.Web.Startup
@using Monivault.Authorization

@{
    ViewBag.CurrentPageName = PageNames.AccountHolderProfile;
}

@section Scripts{
    <script type="text/javascript">
        var accountHolderKey = '@Model.AccountHolderKey';
    </script>
    <script src="~/lib/jquery-number/jquery.number.min.js"></script>
    <script src="~/view-resources/Views/AccountHolderManagement/Profile.js"></script>
    <script src="~/view-resources/Views/AccountHolderManagement/_EditAccountHolderModal.js"></script>
}

<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">@L("AccountHolders")</h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="/AccountHolderManagement" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">@L("Profile")</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- END: Subheader -->

    <div class="m-content">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="m-portlet m-portlet--full-height">
                    <div class="m-portlet__body">
                        <div class="m-card-profile">
                            <div class="m-card-profile__title m--hide">
                                Account Holder Profile
                            </div>
                            <div class="m-card-profile__pic">
                                <div class="m-card-profile__pic-wrapper">
                                    <img src="~/images/default.jpg" alt="" />
                                </div>
                            </div>
                            <div class="m-card-profile__details">
                                <span class="m-card-profile__name">@Model.FullName</span>
                                <span class="m-card-profile__email">@Model.IdentityNumber</span><br />
                                <a href="" class="m-card-profile__email m-link">@Model.PhoneNumber</a><br />
                                <a href="" class="m-card-profile__email m-link">@Model.EmailAddress</a>
                            </div>
                        </div>
                        <div class="m-portlet__body-separator"></div>
                        <div class="m-widget1 m-widget1--paddingless">
                            <div class="m-widget1__item">
                                <div class="row m-row--no-padding align-items-center">
                                    <div class="col">
                                        <h3 class="m-widget1__title">Account Officer</h3>
                                        <span class="m-widget1__desc">@Model.AccountOfficerName</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8">
                <div class="m-portlet m-portlet--full-height m-portlet--tabs">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-tools">
                            <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--left m-tabs-line--primary" role="tablist">
                                <li class="nav-item m-tabs__item">
                                    <a class="nav-link m-tabs__link active" data-toggle="tab" href="#ActivityTab" role="tab">
                                        <i class="flaticon-share m--hide"></i>
                                        Activity
                                    </a>
                                </li>
                                <li class="nav-item m-tabs__item">
                                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#TransactionTab" role="tab">
                                        Transactions
                                    </a>
                                </li>
                            </ul>
                        </div>
                        @if (IsGranted(PermissionNames.ChangeAccountOfficer))
                        {
                            <div class="m-portlet__head-tools">
                                <ul class="m-portlet__nav">
                                    <li class="m-portlet__nav-item">
                                        <a id="EditAccountHolder" href="javascript:;" class="m-portlet__nav-link m-portlet__nav-link--icon"><i class="la la-pencil"></i></a>
                                    </li>
                                </ul>
                            </div>
                        }
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="ActivityTab">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="m-portlet">
                                        <div class="m-portlet__body">
                                            <div class="m-widget16">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <div class="m-widget16__body"></div>
                                                    </div>
                                                </div>
                                                @*<div class="m-widget16__item">
                                                        <span class="m-widget16__date">
                                                            Last Seen
                                                        </span>
                                                        <span class="m-widget16__price m--align-right m--font-brand">
                                                            @Model.DateJoined.ToLongDateString()
                                                        </span>
                                                    </div>*@
                                                <div class="m-widget16__item">
                                                    <span class="m-widget16__date">
                                                        Date Joined
                                                    </span>
                                                    <span class="m-widget16__price m--align-right m--font-brand">
                                                        @Model.DateJoined.ToLongDateString()
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="TransactionTab">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="m-portlet">
                                        <div class="m-portlet__body">
                                            <table id="Transactions" class="table table-striped- table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>@L("Amount")</th>
                                                        <th>@L("Type")</th>
                                                        <th>@L("Description")</th>
                                                        <th>@L("TransactionDate")</th>
                                                        <th>@L("Balance")</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--begin::EditModal-->
<div class="modal fade" id="_EditAccountHolderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">@L("EditAccountHolder")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span>Please wait...</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@L("Close")</button>
                <button id="UpdateAccountHolderBtn" type="button" class="btn btn-primary">@L("Update")</button>
            </div>
        </div>
    </div>
</div>

<!--end::EditModal-->