@using Abp.Collections.Extensions
@using Monivault.Web.Views
@using Monivault.Web.Views.Shared.Components.SideBarNav
@model SideBarNavViewModel
@{
    var calculateMenuUrl = new Func<string, string>((url) =>
    {
        if (string.IsNullOrEmpty(url))
        {
            return ApplicationPath;
        }

        if (UrlChecker.IsRooted(url))
        {
            return url;
        }

        return ApplicationPath + url;
    });
}

<!-- BEGIN: Aside Menu -->
<div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-light " data-menu-vertical="true" m-menu-scrollable="1" m-menu-dropdown-timeout="500">
    <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
        @foreach (var menuItem in Model.MainMenu.Items)
        {
            <li class="m-menu__item @(menuItem.Items.IsNullOrEmpty() ? "" : "m-menu__item--submenu")">
                @if (menuItem.Items.IsNullOrEmpty())
                {
                    <a href="@calculateMenuUrl(menuItem.Url)" class="m-menu__link ">
                        <i class="m-menu__link-icon @menuItem.Icon"></i>
                        <span class="m-menu__link-text">@menuItem.DisplayName</span>
                    </a>
                }
                else
                {
                    <a href="javascript:void(0);" class="m-menu__link m-menu__toggle">
                        <i class="m-menu__link-icon @menuItem.Icon"></i>
                        <span class="m-menu__link-text">@menuItem.DisplayName</span>
                        <i class="m-menu__ver-arrow la la-angle-right"></i>
                    </a>
                    <div class="m-menu__submenu ">
                        <span class="m-menu__arrow"></span>
                        <ul class="m-menu__subnav">
                            @foreach (var subMenuItem in menuItem.Items)
                            {
                            <li class="m-menu__item @(subMenuItem.Items.IsNullOrEmpty() ? "" : "m-menu__item--submenu")" aria-haspopup="true" subMenuItem>
                                @if (subMenuItem.Items.IsNullOrEmpty())
                                {
                                    <a href="@calculateMenuUrl(subMenuItem.Url)" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">@subMenuItem.DisplayName</span>
                                    </a>
                                }
                                else
                                {
                                    <a href="javascript:void(0);" class="m-menu__link m-menu__toggle">
                                        <i class="m-menu__link-icon @subMenuItem.Icon"></i>
                                        <span class="m-menu__link-text">@subMenuItem.DisplayName</span>
                                        <i class="m-menu__ver-arrow la la-angle-right"></i>
                                    </a>
                                    <div class="m-menu__submenu">
                                        <span class="m-menu__arrow"></span>
                                        <ul class="m-menu__subnav">
                                            @foreach(var secondLevelSub in subMenuItem.Items)
                                            {
                                                <li class="m-menu__item" aria-haspopup="true">
                                                    <a href="@calculateMenuUrl(secondLevelSub.Url)" class="m-menu__link ">
                                                        <i class="m-menu__link-icon @secondLevelSub.Icon"></i>
                                                        <span class="m-menu__link-text">@secondLevelSub.DisplayName</span>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                }
                            </li>   
                            }
                        </ul>
                    </div>
                }
            </li>
        }
    </ul>
</div>

